html {
  background-color: rgb(203, 225, 244);
}
h1 {
  padding: 200px;
  text-align: center;
}

.container,
.controls {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.container,
.controls {
  width: 400px;
  display: flex;
  gap: 20px;
}
